/* Todos los elementos de la página */
* {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Todos los párrafos de la página */
p {
  color: #555;
}

#primero p/* Todos los párrafos contenidos en #primero */
{
  color: #369;
}

/* Todos los enlaces de la página */
a {
  color: #C30;
}

/* Los elementos <em> contenidos en #primero */
#primero em{
  color: #0000BB;
  background-color: #FFFFCC;
}

/* Todos los elementos <em> con la clase "especial" en toda la página */
em.especial{
  color: #FFFF00;
  background: #000000;
}

/* Todos los elementos <span> contenidos en la clase "normal" */
.normal span{
  font-weight: bold;
}