* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body {
    text-align: center;
    background-color: #1e2019;
}

header img {
    display: block;
    margin: auto;
    height: 150px;
    color:#1e2019
}
a {
    color: #1e2019;
    text-decoration: none;
    display: inline-block;
    
    
}
header a {
    padding: 0 15px;
    margin:auto;
}

header {
    background-color: #d3d0cb;
    padding: 10px;

}
h1, form {
    color: #d3d0cb;
    
}
h1 {
    padding: 15px 0;
}
form a {
    color: #d3d0cb;
    text-decoration: underline;
}

form {
    width: 50%;
    margin: auto;
    border: 3px solid #d3d0cb;
    border-radius: 5px;
}

label + input {
    margin: 10px 0;
}