li.completed {
    /* background-color: lightgreen; */
    text-decoration: line-through;
    color: grey;
}

.display-none {
    display: none;
}

div {
    margin-top: 10px;
}

button.delete {
    margin-left: 15px;
}

.errorMessages {
    color: red;
}
