* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    /* grid-template-rows: 2fr 2fr 3fr 4fr; */
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer";
    height: 100vH;
}

#header {
    background-color: blueviolet;
    grid-area: header;
}

#menu {
    background-color: green;
    grid-area: menu;

}

#footer {
    background-color: red;
    grid-area: footer;

}

#main {
    background-color: coral;
    grid-area: main;

}

section {
    background-color: dimgray;
    border: 1px solid black;
    height: 50px;
}