section {
    background-color: gray;
    width: 300px;
    height: 300px;
    z-index: 1;
}

div {
    height: 100px;
    width: 100px;
}

.box1 {
    z-index: 10;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    
}
.box1 {
    z-index: 100;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 70px;
    
}
