* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: auto;
}

img{
    max-width: 100%;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}