* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-red: hsl(7, 99%, 70%);
    --color-dark-blue: hsl(212, 27%, 19%);
    --color-yellow:hsl(51, 100%, 49%);
    --color-cyan: hsl(167, 40%, 24%);
    --color-dark-blue: hsl(198, 62%, 26%);
    --color-cyan-moderate: hsl(168, 34%, 41%);
    --color-dark-gray-blue: hsl(213, 9%, 39%);
    --color-gray-blue: hsl(232, 10%, 55%);
    --color-grayish-blue: hsl(210, 4%, 67%);
    --color-white: hsl(0, 0%, 100%);
    --color-footer-cyan: #90D4C5;
}
@font-face {
    font-family: Barlow;
    src:url(./fonts/Barlow/Barlow-Regular.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Fraunces;
    src: url(./fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-weight: 700, 900;
}

body {
    font-size: 18px;
    font-family: 'Barlow';
}
h1, h2, h3, h4 {
    font-family: 'Fraunces';
}

/* HEADER */
body > .bg-image:first-of-type {
    background-image: url(./images/mobile/image-header.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 600px;
    gap: 25px;
}
body > .bg-image:first-of-type > section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
}
body > .bg-image:first-of-type > section img {
    height: 175px;
    width: 50px;
    align-self: center;
}
body > .bg-image:first-of-type > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15px;

}
.bg-image > div > nav {
    display:none;
}
.bg-image > div > nav.nav-visible { /* Afegit tot açò per donar prioritat a la clase */
    display: flex;
}

#nav-menu {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 350px;
    flex-direction: column;
    padding: 30px 0;
    justify-content: space-around;
    background-color: var(--color-white);
    gap: 1.25em 0;
}
#nav-menu button {
    font-family: Barlow ;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    color: var(--color-dark-gray-blue);
    font-weight: bold;
    
}
#nav-menu .contact-btn {
    background-color: var(--color-yellow);
    border-radius: 30px;
    width: 150px;
    align-self: center;
    padding: 20px;
    font-family: Fraunces ;
    color: var(--color-);
    font-variant-caps: all-petite-caps;
}



/* MAIN */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
main p {
    width: 90%;
}

img{
    max-width: 100%;
}
    /* Centrar tots els elements */
.main-section-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}
    /* Underline butons */
.transform + .main-section-info button{
    border: none;
    background-color: transparent;
    border-bottom: 5px solid var(--color-yellow);
}
.stand-out + .main-section-info button{
    border: none;
    background-color: transparent;
    border-bottom: 5px solid var(--color-red);
}

/* Imatges */
.bg-image {
    background-size: 100% 100%;   
    height: 300px;

}
.transform {
    background-image: url(./images/mobile/image-transform.jpg);
}
.stand-out {
    background-image: url(./images/mobile/image-stand-out.jpg);
}
.graphic-design, .photography{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 100px;
}

.graphic-design {
    background-image: url(./images/mobile/image-graphic-design.jpg);
    
}
.photography {
    background-image: url(./images/mobile/image-photography.jpg);
}

/* Clients testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
}
.testimonials h3 {
    color: var(--color-gray-blue);
    text-transform: uppercase;
    font-size: large;
    font-weight: 700;
}
.testimonials img {
    border-radius: 100%;
    height: 75px;
}
.author {
    font-weight: bold;
    font-family: 'Fraunces';
    width: 100%;
}
.position {
    color: var(--color-dark-gray-blue);
    width: 100%;
}
.testimonials > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.testimonials > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}











/* FOOTER */
footer {
    background-color: var(--color-footer-cyan);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 footer > div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0 50px;
 }
 .footer-logo {
    background-image: url(./images/logo.svg);
    background-size: 100% 100%;
    height: 75px;
    width: 125px;
    align-self: center;
}

@media (width > 1140px) {
    #nav-menu {
        display: flex;
        flex-direction: row;
        gap: 0 50px;
        padding: 0;
        position: static;
        inset: 0;
        transform: translateX(0);
        height: auto;
        width: auto;
        background-color: transparent;
    }
    
    #nav-menu button {
        font-family: Barlow ;
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        color: var(--color-white);
    }
    #nav-menu .contact-btn {
        background-color: var(--color-white);
        border-radius: 30px;
        width: 150px;
        padding: 20px;
        font-family: Fraunces ;
        color: var(--color-);
    }
    #mobile-menu-btn {
       display: none;
    }
    body > .bg-image:first-of-type {
    background-image: url(./images/desktop/image-header.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: space-between;
    gap: 0;
    }
    body > .bg-image:first-of-type > div {
    display: flex;
    flex-direction: row;
    padding: 30px 15px;

    }
}