body {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}
.grid-container {
    width: 90%;
    padding: 10px;
    margin-top: 50px;
    align-self: center;
    background-color: white;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    gap: 10px;

}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
}

.item1 {
    grid-column: 1/ 3;
    grid-row: 1 / 3;
}

.item2 {
    grid-column: 3 / 6;
}

.item3 {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

.item4 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.item5 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.item6 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.item7 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}