* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items:baseline;
    gap: 20px 10px; /* Es como margin: U R D L */
    row-gap: 20px; /* margin-top && bottom */
    column-gap: 5px; /* magin-left && right */
    align-content: center;

    height: 500px;


    /* flex-wrap: nowrap; No salta la linea */
    flex-wrap: wrap;

}

.container div {
    background-color: rgb(189, 17, 17);
    border:  1px solid black;

    /* width: 100%; */
    flex-basis: 400px;

}

.container div:first-child {
    /* height: 50px; */
    /* width: 200%; */
    /* width: 200px; */
    flex-shrink: 0;
}

/* flex-grow --> Cuanto crece F12
    flex-shrink --> Cuanto decrece F12
    flex-basis --> Width minimo 
*/