* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body {
    margin:20px;
    width: 90vw;
    border: solid gray 3px;
    padding: 20px;
    min-height: 600px;
}
h1 {
    color:white;
    background-color: #227C9D;
    padding: 30px 15px;
    margin-bottom: 20px;
    border-color: #FFCB77;
    border-style:dotted;
    border-width: 5px;
}

nav {
    background-color: #333;
    
}
nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul li{
    display:inline-block;
    margin: 0 10px;
}
nav a {
    color:white;
    text-decoration: none;
    padding: 15px;
}

.article {
    display:inline-block;
    width: 30%;
    margin: 10px;
    padding: 10px 15px;
    border:2px solid black;
    border-radius: 10px;
    color: black;
}

.article1 {
    background-color: #FFCB77;
}
.article2 {
    background-color: #17C3B2;
}
.article3 {
    background-color: #FE6D73;
}

article h2 {
    margin-bottom: 10px;
}

article p {
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    margin-top: 30px;
    padding: 20px;
    border-top: 5px solid #227C9D;

}