@font-face {
    font-family: "Epilogue";
    src: url(./fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
:root {
    --color-white: hsl(0, 0%, 98%);
    --color-gray: hsl(0, 0%, 41%);
    --color-black:hsl(0, 0%, 8%);
}
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    background-color: var(--color-white);
}
/* Header */
header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content:baseline;
    gap: 0 10px;
    height: 70px;
    width: 100%;

}
img[alt="logo"] {
    position: relative;
    left: 20px;
}
header li, nav, header div, header ul {
    list-style: none;
    /* display: none; */
}
#btn-menu {
    position: absolute;
    right: 10px;
    height: 4vh;
}
/* Menu */
.front {
    display: none;
    position: fixed;
    right: 0;
    width: 60%;
    background-color: var(--color-white);
}
.back {
    background-color: var(--color-gray);
    position: absolute;
    inset: 0;
    /* opacity: 50%; */
    width: 100%;
    height: 100vh;
}
img[id="btn-close"] {
    position: relative;
    width: 30px;
    height: 30px;
}
.display {
    display: block;
}
.display-flex{
    display: flex;
    flex-direction: column;
    
}




/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
}
main img {
    width: 100%; /* Esto hace que la imagen no salga de la pantalla */
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0;
}
main section h2 {
    font-size: 2rem;
}
main section p {
    color: var(--color-gray);
    width: 90%;
}

section div:first-of-type {
    display: flex;
    flex-direction: row;
    gap: 0 15px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
section div:first-of-type img {
    width: 70px;
}

.btn-learn {
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    border-radius: 10px;
}







@media (min-width(1400px)) {
    main {
    /* display: none; */
    display: flex;
    flex-direction: row-reverse;
    }
}