@font-face {
    font-family: "Epilogue";
    src: url(./fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
:root {
    --color-white: hsl(0, 0%, 98%);
    --color-gray: hsl(0, 0%, 41%);
    --color-black:hsl(0, 0%, 8%);
}
* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epilogue", sans-serif;
    background-color: var(--color-white);
}
/* Header */
header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 75px;

}
header li, nav, header div, header ul {
    list-style: none;
}


/* Menu */
/* #nav-menu 
    Posat aixi perque "id" té preferencia sobre "classe" display-block*/
header nav {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
}

.front {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 60%;
    background-color: var(--color-white);
    padding: 0 20px;
    height: 100%;
    color: var(--color-gray);

}
.front ul {
    flex-direction: column;
    gap: 15px 0;
    
}
/* Separacio de "Features" amb X en el menu */
.front > ul {
    padding-top: 30px; 
}
.back {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}
.ul-submenu {
    display: none;
    padding-left: 25px;
    flex-direction: column;
    gap: 10px 0;
}

.ul-submenu img + span {
    padding-left: 15px;
}
    

    /* Butons del menu  */
.front button, .front > ul > li:nth-of-type(3), .front > ul > li:last-child {
    color: var(--color-gray);
    font-size: 1.2rem;
    background-color: transparent;
}
    /* On hover bold menu buttons */
.front button:hover, .front > ul > li:nth-of-type(3):hover, .front > ul > li:last-child:hover {
    color: var(--color-black);
}
button,  .front > ul > li:nth-of-type(3):hover, .front > ul > li:last-child:hover {
    cursor: pointer;
}
    /* Espais entre elements llista gran */
.front > ul {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
    /* Espais entre elements llistes petites */
.ul-features , .ul-company {
    padding-top: 20px;
}
#btn-features, #btn-company, .btn-login {
    border: none;
    padding-right: 10px; /* Moure a la dreta la fletxa*/
}


.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}
.btn-register {
    border-radius: 10px;
    padding: 10px;
}

    /* Flechas del menu */
[alt="arrow-up"] {
    display: none;
}
    /* Elements del submenu */


img[id="btn-close"] {
    align-self: flex-end;
    padding: 10px 10px 0 0;
    width: 30px;
    height: 30px;
}
.display-block {
    display: block ;
}
.display-flex{
    display: flex;
    flex-direction: column;
}
.display-inline {
    display: inline;
}
.display-none {
    display: none;
}




/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    width: 100%;
}
main img {
    max-width: 100%; /* Esto hace que la imagen no salga de la pantalla */
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}
main section h2 {
    font-size: 2rem;
}
main section p {
    color: var(--color-gray);
    width: 90%;
    text-align: center;
}

main section div {
    display: flex;
    flex-direction: row;
    gap: 0 15px;
    justify-content: center;
    align-items: center;
    width: 20%;
}
section div img {
    width: 70px;
}

.btn-learn {
    padding: 15px 30px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 15px;
}
.btn-learn:hover {
    background-color: var(--color-white);
    color: var(--color-black);

}







@media (min-width: 700px) {
    
    header nav {
        display: flex;
        position: relative;
        padding-left: 50px; /* Alejar menu del logo */
    }
    #btn-menu, #btn-close {
        display: none;
    }
    .btn-container{
        display: block;
        padding: 0;
        
    }
    .front {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        width: 100%;
    }

    .front > ul {
        flex-direction: row;
        gap: 0 40px;
        padding: 0;
        align-items: center;
    }
   
    .ul-submenu {
        /* Moure submenus a posició*/
        position: absolute;
        top: 50px;
        left: 20px;

        background-color: #FFFFFF;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
    .ul-company {
        left: 220px; /*Moure submenu Company a posició*/
    }

    /* main*/
        /* Centrar main*/
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        flex-direction: row-reverse;
        width: 80%;
    }
    main section {
        /* padding-top: 150px; */
        padding-top: 20%;
        justify-content: space-between;
        align-items: start;
        gap: 20px 0;
    }
    main section h2 {
        font-size: 4.2rem;
    }
    main section p {
        text-align: start;
        line-height: 1.5;
    }
    main section div {
        align-self: center;
        justify-content: space-between;
        width: 100%;
    }
}